
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/StyleSheet/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <ul class="menu">
        <li><a href="https://www.google.be">Google</a></li>
        <li><a href="https://www.microsoft.com"> Microsoft</a></li>
        <li><a href="~/Home/About">About</a></li>

    </ul>
    <ul>
        <li>Choix1</li>
        <li>Choix2</li>
    </ul>
    <div> 
    </div>
</body>
</html>
